/* Write your code here. */
.emoji-card {
  width: 150px;
  height:150px;
  margin: 10px;
  background-color: #fbc7d4;
  border: 2px solid #ffffff30;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-img-container {
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.emoji-img {
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .emoji-card {
    width: 200px;
    height:200px;
  }
}
@media (min-width: 992px) {
  .emoji-card {
    width: 250px;
    height:150px;
  }
}
@media (min-width:1200px){
  .emoji-card{
    width:300px;
    height:150px;
  }
}
